html {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

.dark body {
  background-color: 	#1e1e2e;
  color: #cdd6f4;
}

.dark .nav-links a {
  color: #fff;
}

body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* PROSE */
h1, h2, h3, h4, strong {
  color: #1e1e2e !important;
}

.dark h1,.dark  h2,.dark  h3,.dark  h4,.dark  strong {
  color: #cdd6f4 !important;
}

/* END PROSE */

/* nav styles */
.expanded {
  display: unset;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}

