html {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.dark body {
  background-color: #1e1e2e;
  color: #cdd6f4;
}


body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

img {
 border-radius: 6px;
}

.astro-code {
  background: #181825 !important;
}

/* PROSE */
h1,
h2,
h3,
h4,
strong {
  --tw-prose-headings: #1e1e2e;
  --tw-prose-bold: #1e1e2e;
}


.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark strong {
  --tw-prose-headings: #cdd6f4;
  --tw-prose-bold: #cdd6f4;
}

.dark a {
  --tw-prose-links: #cba6f7;
}

.dark footer a {
  color: #cba6f7;
}

.dark .prose {
  --tw-prose-body: #cdd6f4;
}

.dark blockquote {
  --tw-prose-quotes: #cdd6f4;
  --tw-prose-code: #1e1e2e;
}


.dark .prose blockquote {
  --tw-prose-quotes: #cdd6f4;
  --tw-prose-code: #1e1e2e;

}



.prose {
--tw-prose-body: #1E1E2E;
}

a {
  --tw-prose-links: #8839ef;
}

footer a {
  color: #8839ef;
}

code {
  --tw-prose-code: #1e1e2e;
  background: #93c5fd;
  padding: 2px 8px;
  border-radius: 6px;
}

/* #1e1e2e; */
/* #f9e2af; */

.file-header + .astro-code {
  margin-top: 0px;
  border: 2px solid #11111b;
  border-radius: 0 0 4px 4px;
}

.circles {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 6px;
}


.circle {
    background: linear-gradient(30deg,#d2ff52 0%,#03fff3 100%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.red {
  background: #f38ba8;
}

.yellow{
  background: #f9e2af;
}

.green {
  background: #a6e3a1;
}

.file-header {
  background: 	#11111b;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  padding: 0px 12px;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 100px 1fr 100px;
  position: relative;
  color: #cdd6f4;
}


/* END PROSE */

/* nav styles */
.expanded {
  display: unset;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }

  .hamburger {
    display: none;
  }
}

/* Chromium */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  height: 8px;
  background: #181825;
}

::-webkit-scrollbar-thumb {
  height: 8px;
  --tw-bg-opacity: 1;
  background-color: #45475a;
}

/* Firefox */
* {
  scrollbar-color: #181825;
  --tw-bg-opacity: 1;
}
