---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Tabs from "../components/Tabs.svelte";
import { tabs } from "./tabs";
import Intro from "../components/Intro.astro";
---

<Layout title="Web Dev and Learning">
  <main>
    <Header />
    <Intro />
    <Tabs tabs={tabs} pathname={Astro.url.pathname} client:idle />

   <div class="prose">

    <h2 class="mt-8 text-3xl font-bold mb-4">Hello There 👋</h2>
    <p>
Flotes is an app I created to efficiently take & study notes that work like flash cards.
    </p>
    <p>
While working on Flotes. I noticed what worked for me in a team at my full-time job, did not hold up to what worked best for me in my side projects.
    </p>
    <p>
And so I created this blog with a few ideas in mind:
    </p>
    <ul>
    <li>How to create succesful side projects</li>
    <li>The difference between engineering at a large company, and independently</li>
    <li>Share things I learn along the way</li>
    <li>Announce updates</li>
    </ul>
    <p>
    Outside of programming. I live with my wonderful fiancee and our 7 pets. I am a BJJ Black Belt,  enjoy watching anime, going outside, cooking, and I've recently gotten into D&D :)
    </p>
    <p>
    Their currently isn't a way to comment on this blog, and Flotes is not Open Source.  

    
    </p>
    <p>
   To comment or message me directly <code>BoogersLLC#7997</code>
    </p>
    <ul>
      <li><a href="https://discord.gg/qKaKeGT8sZ">Join our Discord</a> </li>
      <li><a href="https://twitter.com/BoogersLLC">Message me on Twitter</a> </li>
      <li><a href="https://www.linkedin.com/in/erik-verduin/">Message me on LinkedIn</a> </li>
    </ul>

   <p class="mb-8">
   Thanks for taking the time to look at my blog and get to know a little more about me :)
   </p>


   </div>


  </main>
</Layout>
