---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="mt-8">
  <nav class="grid grid-flow-col items-center grid-cols-1 auto-cols-max">
    <Hamburger />
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
