---

---
<div class="mt-2 sm:mt-8 grid grid-cols-left gap-4 text-center sm:text-left sm:gap-8 items-center">
<a href="https://github.com/everduin94" target="_blank">
<img
  width={120}
  height={120}
  class="object-right-top rounded-full"
  src="https://ik.imagekit.io/flotes/received_442806691308427__1_.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1675799180096"
  alt="me"
/>
</a>
<div class="">
  <h3 class="text-blue-400 text-md sm:text-xl">Welcome to my blog</h3>
  <h2 class=" text-2xl sm:text-3xl font-bold mb-0 hover:underline"><a target="_blank" href="https://github.com/everduin94">Erik Verduin</a></h2>
  <h3 class="text-sm sm:text-lg text-slate-500">Sole designer, programmer, and writer of Flotes</h3>
  <h3 class="text-sm sm:text-lg  text-slate-500">Software Engineer writing Web Apps at Cisco</h3>
</div>
</div>
