---
---

<div class="grid gap-4 grid-flow-col auto-cols-max text-lg font-bold uppercase">
  <a href="/" class="hover:text-blue-500">Home</a>
  <a href="/about/" class="hover:text-blue-500">About</a>
  <a href="/tags/" class="hover:text-blue-500">Tags</a>
</div>
